:root {
  --primary-color: #2196F3;
  --primary-lightest-color: #E3F2FD;
  --primary-lighter-color: #90CAF9;
  --primary-light-color: #64B5F6;
  --primary-dark-color: #1976D2;
  --primary-darker-color: #1565C0;
  --primary-darkest-color: #0D47A1;
} 